<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Chats</title>
</head>
<body>
    <h2>Edit your chat & Id : <%= chat._id %></h2>
    <p>This chat is sent from <b><%= chat.from%></b> to <b><%= chat.to %></b></p>

    <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" rows="8" cols="30"><%= chat.msg %></textarea>
        <button>Submmit</button>
    </form>
</body>
</html>